:root {
  font-family: Inter, sans-serif;
}

body {
    background-color: #051326;
    color: #c7d7ed;

}

body::selection{
    /*background-color: green;*/
}
.main{
    display: flex;
    /*background-color: rgb(200, 200, 200);*/
    justify-content: space-evenly;
    position: relative;
    padding-top: 5%;
}

.header {
    position: sticky;
    top: 12%;
    flex-basis: 600px;
    height: fit-content;
}

/*
Source - https://stackoverflow.com/q/10632468
Posted by Roland, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-09, License - CC BY-SA 3.0
*/

a[href^="mailto:"]

{ 
  color: #c7d7ed;
}


.container-hero {
    /*background-color: aqua;*/
    padding: 20px;
    /*flex-basis: 500px;*/
}

.container-git {
    /*background-color: brown;*/
    margin-top: 3%;
    padding-left: 20px;
}

#name {
    font-size: 50px;
}

#beschreibung {
    font-size: 150%;
}

.box {
    display: flex;
    border-radius: 10px;
    margin: 15px 20px;
    padding: 15px 20px;
    /*background-color: bisque;*/
    /*flex-basis: 500px;*/
    transition-duration: 0.5s;
}

.box:hover {
    background-color: #0a2140;
}

.boxes {
    flex-basis: 650px;
}

.box-text {
    width: 80%;
}

.titel {
    margin-left: 40px;
}

.year {
    width: 20%;
    margin-top: 10px;
    margin-left: 5%;
    /*background-color: aqua;*/
}

.weitere {
    margin-block-end:1lh;
}


@media(max-width: 600px) {
    .main {
        flex-direction: column;
        padding: 15px;
    }

    .container-git {
        margin-top: 1%;
    }

    .header {
        position: relative;
    }
}

.container-ps {
    background-color: brown;
    z-index: 2;
}